@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import 'tailwind-scrollbar';*/

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #0000009a;
  }
  h1 {
    @apply text-xl font-medium capitalize;
    color: whitesmoke;
  }
}
/* Calendar.css */
.react-calendar {
  /*width: 90%;  Ajustar el ancho según lo necesites */
  /* max-width: 700px; Cambia este valor para hacer el calendario más pequeño o más grande */
  font-family: "Montserrat", sans-serif; /* Fuente del calendario */
  font-size: 0.9em; /* Ajusta el tamaño de la fuente */
  background-color: #17202e; /* Color de fondo oscuro */
  /*border: 1px solid #333;  Borde más oscuro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  overflow: hidden; /* Esconde los desbordamientos */
}




.react-calendar__tile:hover {
  background-color: #1e40af; /* Color de fondo al pasar el ratón */
  transform: translateY(-3px); /* Efecto de elevación */
}

.react-calendar__tile--active {
  background-color: #a8bdd1; /* Color de fondo para el día activo */
  color: #ffffff; /* Color del texto para el día activo */
  box-shadow: 0 0 8px rgb(27, 27, 27); /* Sombra para el día activo */
}

.react-calendar__tile--now {
  background-color: #3b82f6; /* Color de fondo para el día actual */
  color: #ffffff; /* Color del texto para el día actual */
  border: 1px solid #ffffff; /* Borde blanco alrededor del día actual */
}

.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr) !important;
  /* background-color: #333;  Color de fondo para los días de la semana */
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: bold; /* Hacer que los días de la semana sean más prominentes */
  color: #d0dbe7; /* Color del texto para los días de la semana */
  padding-top: 5px; /* Espaciado */

  /*border-radius: 5px;  Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave para el hover */
}

.react-calendar__month-view__weekdays__weekday:hover {
  background-color: #2b394a; /* Color de fondo al pasar el ratón sobre los días de la semana */
}

/* Estilos para el mes y el año */
.react-calendar__navigation {
  /*background-color: #444;  Fondo del contenedor de navegación */
  border: none; /* Sin borde */
  color: #eef2f6; /* Color del texto de navegación */
  text-align: center;
}

.react-calendar__navigation__arrow {
  color: #7898b8 /* Color de las flechas de navegación */
}

.react-calendar__navigation__label {
  font-weight: bold; /* Hacer que la etiqueta del mes/año sea más prominente */
}

/* Estilo de los eventos */
.react-calendar__tile--event {
  background-color: #007bff; /* Color de fondo para eventos */
  color: #ffffff; /* Color del texto para eventos */
  border-radius: 5px; /* Bordes redondeados */
}

.ml-64 {
  margin-left: 12rem;
}

/*.justify-center {
  justify-content: right;
}*/

/*.min-h-screen {
  min-height: auto;
}*/

/*.scrollbar-thumb {
  border-radius: 20px;
}

.scrollbar-thumb-custom {
  background-color: #ff69b4; /* Color de la barra de desplazamiento 
  border-radius: 20px; /* Radio de borde 
}

.scrollbar-track-custom {
  background-color: #f0f0f0; /* Color de la pista de desplazamiento 
}*/